<div class="nav">
    <h1>Drew's Final Project</h1>
    <div>
      <article>
      <a href = "/api">| <b>Home</b> |</a>
  		<a href = "/api/free"><b>Free Only</b> |</a>
      <a href = "/api/nocatch"><b>No Catch</b> |</a>
      <a href = "/api/alwaysfree"><b>No Time Limit</b> |</a>
      <a href = "/api/day"><b>One Day Only</b> |</a>
    </article>
<hr>
