<div class="nav">
    <h1>Drew's Final Project</h1>

    Search:
    <div>
    </div>

  <form method = "GET" action = "/search/location">
    <class = "input-field">
        <input type = "text" name = "location" size=  "75" placeholder = "by store/location">
    <button type="submit"> Search </button>
  </form>
  <form method = "GET" action = "/search/starts">
    <class = "input-field">
        <input type = "text" name = "starts" size=  "75" placeholder = "by start date/time">
    <button type="submit"> Search </button>
  </form>
  <form method = "GET" action = "/search/price">
    <class = "input-field">
        <input type = "text" name = "price" size=  "75" placeholder = "by price">
    <button type="submit"> Search </button>
  </form>

<br>
<hr>
