<h1>Create New Free Food Deal!</h1>
<article>
    <form method = "POST" action = "/api/deal">
        <div class = "input-field">
            <label>Deal Name:</label>
            <input type = "text" name = "name" size = "50" placeholder = "name">
        </div>
        <div class = "input-field">
            <label>Price:</label>
            <input type = "text" name = "price" size = "50" placeholder = "better be '0'!">
        </div>
         <div class = "input-field">
            <label>Location:</label>
            <input type="text" name = "location" size = "50" placeholder = "location/store">
        </div>
        <div class = "input-field">
            <label>Items:</label>
            <textarea type = "text" name = "items" rows = "5" placeholder = "list free items"></textarea>
        </div>
        <div class = "input-field">
            <label>Starts:</label>
            <input type = "text" name = "starts" size = "50" placeholder = "start date/time">
        </div>
        <div class = "input-field">
            <label>Ends:</label>
            <input type = "text" name = "ends" size = "50" placeholder = "end date/time">
        </div>
        <div class = "input-field">
            <label>Catch:</label>
            <input type = "text" name = "catch" size = "50" placeholder = "what's the catch?">
        </div>
        <button type = "submit"> Create Deal </button>
    </form>
</article>
